header {
    margin-top: 50px;
    text-align: center;

    h1 {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        color: #D04F4F;
    }
}


.form-search-bar {
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    .input-search-bar {
        background: #E7E7E7;
        border-radius: 5px;
        height: 69px;

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        // opacity: 0.25;   
    }

    button {
        position: absolute;
        right: 20px;
        top: 10px;
        border: unset;
        background: transparent;

        .icon-search {
            font-size: 32px;
        }
    }

}

#section-filtres {
    margin-bottom: 20px;

    .badges {
        margin-bottom: 20px;

        button {
            border-radius: 5px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            background: #3282F7;
        }

        i {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 16px;
        }
    }

    .accordion {
        max-width: 170px;

        .accordion-button-ingredients {
            color: white;
            background: #3282F7;
        }

        .accordion-button-appareils {
            color: white;
            background: #68D9A4;
        }

        .accordion-button-ustensibles {
            color: white;
            background: #ED6454;
        }
        
    }

}

#section-recettes {

    .background-grey {
        background: #C7BEBE;
        height: 178px;
        width: 100%;
    }
}





