.tags{
    display: flex;
    justify-content:flex-start;
    height: fit-content;
    padding: 20px 0;
}

.tag{
    width: fit-content;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    background: $blue;
}

.filters-container{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.filter{
    width: fit-content;
    border-radius: 5px;
    min-width: 170px;
    height: fit-content;
    &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        height: 69px;
        width: 100%;
        border: transparent;
        background: transparent;
        cursor: pointer;
    }
}
.show{
    display: block;
    width: fit-content;
}
.hidden{
    display: none;
}
.absolute{
    position: absolute;
    z-index: 3;
    padding-right: 1.9rem;
    padding-bottom: 1.9rem;
}

.ingredients{
    background-color: $blue;
    color: $white;
    &__list{
        font-size: 0.7rem;
        column-count: 7;
        column-gap: 1.5rem;
        >ul.list-X{
            list-style: none;
           >li{
               cursor: pointer;
               &:hover{
                   color: $grey;
               }
               margin-bottom: 7px;
           }
        }
        &.onSearch{
           column-count: 1;
        }
       }
    &__searchBar{
        width: 60%;
        background-color: transparent;
        border: none;
        &::placeholder{
            color: $white;
        }
        &:focus{
            color: $white;
        }
        &.show{
            margin-left: 15px;
            &::placeholder{
                color:rgba(250, 235, 215, 0.424)            
            }
        }
    }
}
.appareils{
    background-color: $green;
    color: $white;
    &__list{
        font-size: 0.7rem;
        column-count: 7;
        column-gap: 1.5rem;
        >ul.list{
            list-style: none;
           >li{
               cursor: pointer;
               &:hover{
                   color: $grey;
               }
           }
        }
        &.onSearch{
           column-count: 1;
        }
       }
    &__searchBar{
        width: 60%;
        background-color: transparent;
        border: none;
        &::placeholder{
            color: $white;
        }
        &:focus{
            color: $white;
        }
        &.show{
            margin-left: 15px;
            &::placeholder{
                color:rgba(250, 235, 215, 0.424)            
            }
        }
    }
}
.ustensiles{
    background-color: $orange;
    color: $white;
    &__list{
        font-size: 0.7rem;
        column-count: 7;
        column-gap: 1.5rem;
        >ul.list{
            list-style: none;
           >li{
               cursor: pointer;
               &:hover{
                   color: $grey;
               }
           }
        }
        &.onSearch{
           column-count: 1;
        }
       }
    &__searchBar{
        width: 60%;
        background-color: transparent;
        border: none;
        &::placeholder{
            color: $white;
        }
        &:focus{
            color: $white;
        }
        &.show{
            margin-left: 15px;
            &::placeholder{
                color:rgba(250, 235, 215, 0.424)            
            }
        }
    }
}

#ingredients__iconBtn{
    transition: transform .0.3s ease-in;
    &:hover{
        color: $grey;
    }
}

#appareils__iconBtn{
    transition: transform .0.3s ease-in;
    &:hover{
        color: $grey;
    }
}

#ustensiles__iconBtn{
    transition: transform .0.3s ease-in;
    &:hover{
        color: $grey;
    }
}