.tags{
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    padding: 20px 0;
    gap: 1rem;
}

.tag{
    width: fit-content;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    color: $white;
    font-size: 0.7rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--ing{
        background: $blue;
    }
    &--app{
        background: $green;
    }
    &--ust{
        background: $orange;
    }
    &__close{
        font-size: 1rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}


.filters-container{
    width: fit-content;
    height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.filter{
    width: fit-content;
    border-radius: 5px;
    min-width: 170px;
    height: fit-content;
    &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        height: 69px;
        width: 100%;
        border: transparent;
        background: transparent;
        cursor: pointer;
    }
}
.show{
    display: block;
    width: fit-content;
}
.hidden{
    display: none;
}
.display{
    z-index: 3;
    padding-left: 1rem;
    padding-right: 1.2rem;
    padding-bottom: 1.2rem;
    box-shadow: 0px 4px 17px -5px rgba(0,0,0,0.56);
}


.ingredients{
    background-color: $blue;
    @include listContainer;
    &__list{
        column-count: 4;
    }
}

.appliances{
    background-color: $green;
    @include listContainer;
    &__list{
        column-count: 1;
    }
}

.ustensiles{
    background-color: $orange;
    @include listContainer;
    &__list{
        column-count: 2;
    }
}

.xSmallList{
    column-count: 1;
}
.smallList{
    column-count: 2;
}

#ingredients__iconBtn{
    @include dropDownIcon
}

#appliances__iconBtn{
    @include dropDownIcon
}

#ustensiles__iconBtn{
    @include dropDownIcon
}

@include mobile {
    .filters-container{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .filter{
        width: 100%;
    }
}

@include tablet {
    .ingredients__list{
        column-count: 2;
    }
}