.tags{
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    padding: 20px 0;
    gap: 1rem;
}

.tag{
    width: fit-content;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    color: $white;
    font-size: 0.7rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--ing{
        background: $blue;
    }
    &--app{
        background: $green;
    }
    &--ust{
        background: $orange;
    }
    &__close{
        font-size: 1rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}

.filters-container{
    width: fit-content;
    height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.filter{
    width: fit-content;
    border-radius: 5px;
    min-width: 170px;
    height: fit-content;
    &__btn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        color: $white;
        border-radius: 5px;
        height: 69px;
        width: 100%;
        border: transparent;
        background: transparent;
        cursor: pointer;
    }
}
.show{
    display: block;
    width: fit-content;
}
.hidden{
    display: none;
}
.absolute{
    // position:fixed;
    z-index: 3;
    padding-left: 1rem;
    padding-right: 1.9rem;
    padding-bottom: 1.9rem;
}

.adapt{
    &__app{
        &--toIng{
            margin-left: 300px;
        }
        &--toSelf{ 
            margin-left: 243px;
            width: 360px;
        }
    }
    &__ust{
        &--toApp{
            transform: translateX(380px);
        }
        &--toSelf{
            transform: translateX(486px);
            width: 400px
        }
    }
}

.ingredients{
    background-color: $blue;
    @include listContainer;
    &__list{
        column-count: 7;
    }
}

.appliances{
    background-color: $green;
    @include listContainer;
    &__list{
        column-count: 1;
    }
}

.ustensiles{
    background-color: $orange;
    @include listContainer;
    &__list{
        column-count: 2;
    }
}

#ingredients__iconBtn{
    transition: transform .0.3s ease-in;
    &:hover{
        color: $grey;
    }
}

#appliances__iconBtn{
    transition: transform .0.3s ease-in;
    &:hover{
        color: $grey;
    }
}

#ustensiles__iconBtn{
    transition: transform .0.3s ease-in;
    &:hover{
        color: $grey;
    }
}

@include mobile {
    .filters-container{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .filter{
        width: 100%;
    }
}