*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    :focus {
        outline: none;
    }
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 30px;
    >img{
        width: 268px;
    }
}
main{
    padding: 0 4%;
    @include mobile {
        padding: 0;
    }
}
