@mixin listContainer{
    color: $white;
    &__list{
        font-size: 0.7rem;
        column-count: 3;
        column-gap: 1rem;
        >ul.list{
            list-style: none;
           >li{
            margin-bottom: 5px;
               cursor: pointer;
               &:hover{
                   color: $grey;
               }
           }
        }
        &.onSearch{
           column-count: 1;
        }
       }
    &__searchBar{
        width: 60%;
        background-color: transparent;
        border: none;
        &::placeholder{
            color: $white;
        }
        &:focus{
            color: $white;
        }
        &.show{
            margin-left: 10px;
            &::placeholder{
                color:rgba(250, 235, 215, 0.424)            
            }
        }
    }
}

@mixin mobile{
    $breakpoints:(mobile:773px);
    @media screen and (max-width:map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin desktopS{
    $breakpoints:(desktopS:1200px);
    @media screen and (max-width:map-get($breakpoints, desktopS)) {
        @content;
    }
}

@mixin desktopM{
    $breakpoints:(desktopM:1400px);
    @media screen and (max-width:map-get($breakpoints, desktopM)) {
        @content;
    }
}

@mixin tablet{
    $breakpoints:(tablet:992px);
    @media screen and (max-width:map-get($breakpoints, tablet)) {
        @content;
    }
}
