.cards-container{
    margin-top: 40px;
    width: 100%;
    height: fit-content;
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 50px; 
    
    /* display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5%; 
    grid-template-areas: 
      ". . ."
      ". . ."
      ". . .";  */
}
@include desktopM{
    .cards-container{
        gap: 30px;
    }
}

@include desktopS{
    .cards-container{
        gap: 20px;
    }
}

.absolute--results{
     // position:fixed;
     //z-index: 3;
}

.recipe-card{
    width: 380px;
    height: 364px;
    display: flex;
    flex-direction: column;
    &__imgContainer{
        border-radius: 5px 5px 0 0;
        background-color: $grey;
        width: 100%;
        height: 50%;
    }
    &__infosContainer{
        border-radius:0 0 5px 5px;
        background-color: $lightGrey;
        width: 100%;
        height: 50%;
        padding: 5%;
    }
    &__headContainer{
        display: flex;
        justify-content: space-between;
        >h3{
            font-size: 1rem;
            font-weight: 400;
            max-width: 70%;
        }
        &--timeContainer{
            display: flex;
            justify-content: end;
            align-items: baseline;
            transform: translateY(-2px);
            >img{
                margin-right: 10px;
                transform: translateY(3px);
            }
            >p{
                font-weight: 600;
            }
        }
    }
    &__subHeadContainer{
        display: flex;
        justify-content: baseline;
        gap: 15px;
        
        >p{
            font-size: 0.7em;
            width: 50%;
            height: 100px;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--list{
            width: 50%;
            margin: 0;
            padding: 0;
            >li{
                font-size: 0.7em;
            }
        }
    }
    &__ingdts{
       display: flex;
       white-space: nowrap;
       margin-right: 10px;
       height: fit-content;

       &--span{
           width: fit-content;
           white-space: nowrap;
           font-weight: 400;
        }
        &--p{
            margin-bottom: -3px;
           font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
       }
    }
}
@include desktopM{
    .recipe-card{
        width: 340px;
    }
}

@include desktopS{
    .recipe-card{
        width: 280px;
        &__imgContainer{
            height: 40%;
        }
        &__infosContainer{
            height: 60%;
            padding: 7%;
        }
    }
}

@include tablet{
    .recipe-card{
        width: 330px;
    }
}

@include mobile{
    .recipe-card{
        width: 100%;
        &__imgContainer{
            height: 50%;
        }
        &__infosContainer{
            height: 50%;
            padding: 4%;
        }
    }
}